*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Ubuntu", sans-serif;
  background: #233442;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

.card {
  border: 1px solid #4b5e6e;
  padding: 10px 10px 5px;
  margin-top: 10px;
  border-radius: 3px;
}

.card-heading {
  font-size: 28px;
  text-transform: uppercase;
  color: #ffd800;
}

.card-title {
  color: #eee;
  /* text-transform: uppercase; */
  font-family: "Roboto", sans-serif;
}

.card-subtitle {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
}

.card-text {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.9;
  color: #999;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #475159;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
}

.custom-scroller {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  margin: 5px 0;
  padding-right: 10px;
}

/* Custome Scroll */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  /* background: linear-gradient(to top left, #ff8a00, #da1b60); */
  background: #ffd800;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: #1e2e3a;
  border-left: 1px solid #1e2e3a;
}
